<% determine_page_node %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<title><%= h("#{SiteSetting.find_by_name("Site Name").value} - #{yield(:title) || "Untitled"}") %></title>
	
	<%= stylesheet_link_tag "webstyle.css" %>
	<%= stylesheet_link_tag "tnymc.css" %>
	<% if @current_page_node && @current_page_node.style %>
		<%= stylesheet_link_tag @current_page_node.style %>
	<% end %>
	<% if @current_page_node && @current_page_node.ancestors.include?(PageNode.business_node.first) || @current_page_node == PageNode.business_node.first %>
  	<%= stylesheet_link_tag "business.css" %>
	<% elsif @current_page_node && @current_page_node.ancestors.include?(PageNode.family_node.first) || @current_page_node == PageNode.family_node.first %>
  	<%= stylesheet_link_tag "family.css" %>
  <% else %>
    <%= stylesheet_link_tag "webstyle_default.css" %>
	<% end %>
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<!--[if IE 6]>
<style type="text/css">
	.picture span, .small, .medium, .large { behavior: url(../iepngfix.htc); }
  .home_form {display: none;}
</style>
<![endif]-->

<body>
  <div class="maincontainer">	
	
    <div class="top">
      <a href="<%= url_for(:controller => 'web', :action => 'index', :only_path => false) %>">
        <img src="<%= ActionMailer::Base.default_url_options[:host] %>/images/logo.gif" alt="<%= SiteSetting.find_by_name("Site Name").value %>" border="0" hspace="0" vspace="0" class="logo" />
	    </a>
    </div>
    
	  <div id="content">
		  <%= @content_for_layout %>
      <div class="clear"></div>
	  </div>
	
  </div>
</body>
</html>
