<div id="payment_form">
  <% form_for @payment do |f| %>

    <%= f.error_messages :id => "flash_error", :message => nil, :header_message => nil %>

    <p>
      <%= f.label :invoice_number, "Our Reference" %>
      <%= f.text_field :invoice_number %> (Will be found on your invoice.)
    </p>
    
    <p>
      <%= f.label :company_name, "Name" %>
      <%= f.text_field :company_name %>
    </p>
    
    <p>
      <%= f.label :contact_number %>
      <%= f.text_field :contact_number %>
    </p>
    
    <p>
      <%= f.label :amount, "Amount (&pound;)" %>
      <%= f.text_field :amount %>  
    </p>
    
    <p>
      <%= f.submit "Continue" %> 
    </p>
    
  <% end %> 
</div>
