<% hide_left; hide_right %>

<h1><%= title "Confirm Details" %></h1>

<p>
  <strong>Please check the the details below are correct before continuing</strong>
</p>
<p>
  <strong>Our Reference:</strong> <%= @payment.invoice_number %>
</p>
<p>
  <strong>Name:</strong> <%= @payment.company_name %>
</p>
<p>
  <strong>Contact Number:</strong> <%= @payment.contact_number %>
</p>
<p>
  <strong>Amount:</strong> <%= number_to_pounds @payment.amount %>
</p>

<h3>Debit Card - <%= number_to_currency @payment.amount, :unit => "&pound;" %></h3>
<%= render "worldpay", :amount => @payment.amount, :a_name => "SWIT", :b_name => "Maestro", :c_name => "maestro" %>
<%= render "worldpay", :amount => @payment.amount, :a_name => "VISD", :b_name => "Visa Debit", :c_name => "visa" %>
<%= render "worldpay", :amount => @payment.amount, :a_name => "VIED", :b_name => "Visa Electron", :c_name => "visa" %>
<br />
<h3>Credit Card - <%= number_to_currency @payment.amount_with_extra, :unit => "&pound;" %></h3>
<%= render "worldpay", :amount => @payment.amount_with_extra, :a_name => "VISA", :b_name => "Visa Credit", :c_name => "visa" %>
<%= render "worldpay", :amount => @payment.amount_with_extra, :a_name => "MSCD", :b_name => "Mastercard", :c_name => "mastercard" %>
<%= render "worldpay", :amount => @payment.amount_with_extra, :a_name => "JCB", :b_name => "JCB", :c_name => "jcb" %>
<%= render "worldpay", :amount => @payment.amount_with_extra, :a_name => "AMEX", :b_name => "American Express", :c_name => "amex" %>
<%= render "worldpay", :amount => @payment.amount_with_extra, :a_name => "DINS", :b_name => "Diners Card", :c_name => "dins" %>
