<style type="text/css" media="screen">
  /* <![CDATA[ */
  fieldset p {
    margin: 10px;
    font-weight: bold;
  }

  fieldset ul li {
    font-weight: bold;
  }
  /* ]]> */
</style>

<script type="text/javascript">
  /* <![CDATA[ */

  function formatPound(num)
  {
    num = num.toString().replace(/\$|\,/g,'');
    if(isNaN(num))
      num = "0";
    sign = (num == (num = Math.abs(num)));
    num = Math.floor(num*100+0.50000000001);
    cents = num%100;
    num = Math.floor(num/100).toString();
    if(cents < 10)
      cents = "0" + cents;
    for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
      num = num.substring(0,num.length-(4*i+3))+','+ num.substring(num.length-(4*i+3));
    return (((sign)?'':'-') + num + '.' + cents);
  }

  $(function(){
    $('a.normalTip').aToolTip();
    step1Answer();
    updateTotalIncome();
  });

  function step1Answer()
  {
    if ($('#family_assistance_calculation_benefits_1').is(":checked"))
    {
      $('#step_1_yes').show();
      $('#step_1_more').hide();
    }
    else if ($('#family_assistance_calculation_benefits_0').is(":checked"))
    {
      $('#step_1_more').show();
      $('#step_1_yes').hide();
    }
    else
    {
      $('#step_1_yes').hide();
      $('#step_1_more').hide();
    }
    updateTotalIncome();
  }

  function getTotalIncome()
  {
    tot = 0;
    if ($("#family_assistance_calculation_gross_income").val())
      tot += parseFloat($("#family_assistance_calculation_gross_income").val());
    if ($("#family_assistance_calculation_other_income").val())
      tot += parseFloat($("#family_assistance_calculation_other_income").val());
    if ($("#family_assistance_calculation_benefits_income").val())
      tot += parseFloat($("#family_assistance_calculation_benefits_income").val());
    return tot;
  }

  function updateTotalIncome()
  {
    tot = getTotalIncome();

    var somethingAnswered = false;
    if ($("#family_assistance_calculation_gross_income").val())
      somethingAnswered = true;
    if ($("#family_assistance_calculation_other_income").val())
      somethingAnswered = true;
    if ($("#family_assistance_calculation_benefits_income").val())
      somethingAnswered = true;

    $("#total_income").html(formatPound(tot));

    if (somethingAnswered)
    {
      if (tot > 2657.0)
      {
        $("#step_2_no").show();
        $("#step_2_more").hide();
      }
      else
      {
        $("#step_2_no").hide();
        $("#step_2_more").show();
      }
      updateTotalOut();
    }
  }

  function getTotalOut()
  {
    tot = getTotalIncome();
    if ($("#family_assistance_calculation_children_out").val())
      tot -= parseFloat($("#family_assistance_calculation_children_out").val()) * 285;
    if ($("#family_assistance_calculation_rent_out").val())
    {
      if ( parseFloat($("#family_assistance_calculation_children_out").val()) == 0 && parseFloat($("#family_assistance_calculation_rent_out").val()) > 545 )
        tot -= 545;
      else
        tot -= parseFloat($("#family_assistance_calculation_rent_out").val());
    }
    if ($("#family_assistance_calculation_people_out").val())
      tot -= parseFloat($("#family_assistance_calculation_people_out").val()) * 45;
    if ($('#family_assistance_calculation_partner_out_1').is(":checked"))
      tot -= 175.76;
    if ($('#family_assistance_calculation_maintenance_out').val())
      tot -= parseFloat($('#family_assistance_calculation_maintenance_out').val());
    if ($('#family_assistance_calculation_childcare_out').val())
      tot -= parseFloat($('#family_assistance_calculation_childcare_out').val());
    if ($('#family_assistance_calculation_tax_out').val())
      tot -= parseFloat($('#family_assistance_calculation_tax_out').val());

    return tot;
  }

  function updateTotalOut()
  {
    tot = getTotalOut();
    var somethingAnswered = false;
    if ($("#family_assistance_calculation_children_out").val())
      somethingAnswered = true;
    if ($("#family_assistance_calculation_rent_out").val())
      somethingAnswered = true;
    if ($("#family_assistance_calculation_people_out").val())
      somethingAnswered = true;
    if ($('#family_assistance_calculation_partner_out_1').is(":checked"))
      somethingAnswered = true;
    if ($('#family_assistance_calculation_maintenance_out').val())
      somethingAnswered = true;
    if ($('#family_assistance_calculation_childcare_out').val())
      somethingAnswered = true;
    if ($('#family_assistance_calculation_tax_out').val())
      somethingAnswered = true;

    $("#total_out").html(formatPound(tot));

    if (somethingAnswered)
    {
      if (tot > 2700)
      {
        $("#step_3_no").show();
        $("#step_3_more").hide();
      }
      else
      {
        $("#step_3_no").hide();
        $("#step_3_more").show();
      }
      updateTotalVal();
      updateTotalSav();
    }
  }

  function updateTotalVal()
  {
    if ($('#family_assistance_calculation_high_equity_1').is(":checked"))
    {
      $('#step_4_no').show();
      $('#step_4_more').hide();
    }
    else if ($('#family_assistance_calculation_high_equity_0').is(":checked"))
    {
      $('#step_4_more').show();
      $('#step_4_no').hide();
    }
    else
    {
      $('#step_4_no').hide();
      $('#step_4_more').hide();
    }
  }

  function getTotalSav()
  {
    tot = 0
    if ($("#family_assistance_calculation_savings").val())
      tot += parseFloat($("#family_assistance_calculation_savings").val())
    if ($("#family_assistance_calculation_shares").val())
      tot += parseFloat($("#family_assistance_calculation_shares").val())
    if ($("#family_assistance_calculation_property").val())
      tot += parseFloat($("#family_assistance_calculation_property").val())
    if ($("#family_assistance_calculation_bonds").val())
      tot += parseFloat($("#family_assistance_calculation_bonds").val())
    if ($("#family_assistance_calculation_endowment").val())
      tot += parseFloat($("#family_assistance_calculation_endowment").val())
    return tot;
  }

  function updateTotalSav()
  {
    tot = getTotalSav();
    var somethingAnswered = false;

    if ($("#family_assistance_calculation_savings").val())
      somethingAnswered = true;
    if ($("#family_assistance_calculation_shares").val())
      somethingAnswered = true;
    if ($("#family_assistance_calculation_property").val())
      somethingAnswered = true;
    if ($("#family_assistance_calculation_bonds").val())
      somethingAnswered = true;
    if ($("#family_assistance_calculation_endowment").val())
      somethingAnswered = true;

    $("#total_sav").html(formatPound(tot));

    if (somethingAnswered)
    {
      if (tot > 8000)
      {
        $("#step_5_no").show();
        $("#step_5_yes").hide();
      }
      else
      {
        $("#step_5_no").hide();
        $("#step_5_yes").show();
      }
    }
  }
  /* ]]> */
</script>

<h2>Family Assistance Eligibility Calculator</h2>
<br />
<% form_for(:family_assistance_calculation, @family_assistance_calculation, :url => family_assistance_path) do |f| -%>

  <%= f.error_messages %>

  <% field_set_tag 'Step 1: Matter' do -%>
    <p>
      About what type of matter are seeking advice:
    </p>

    <p>
      <%= f.check_box :divorce, {:style => "float: left;"} %>
      <%= f.label :divorce, "Divorce and/or financial settlement", {:style => "width:auto; float: left; line-height: 28px"} %>
      <br /><br />
      <%= f.check_box :children, {:style => "float: left;"} %>
      <%= f.label :children, "", {:style => "width:auto; float: left; line-height: 28px"} %>
      <br /><br />
      <%= f.check_box :injunctions, {:style => "float: left;"} %>
      <%= f.label :injunctions, "", {:style => "width:auto; float: left; line-height: 28px"} %>
    </p>

  <% end -%>

  <% field_set_tag 'Step 2: State Benefits', :id => "step_1" do -%>
    <p>
      Do you currently receive any of the following benefits?
    <ul>
      <li>Income support</li>
      <li>Income based job seekers allowance</li>
      <li>Income based employment and support allowance</li>
      <li>Guarantee pension credit</li>
    </ul>
    </p>

    <p>
      <%= f.radio_button :benefits, "1", :class => "radio", :style => "float: left;", :onchange => "step1Answer();", :checked => (params[:fa] && params[:fa][:benefits] == '1') %>
      <%= f.label :benefits_1, "Yes", :style => "width:auto; float: left;" %>
      <br />
      <%= f.radio_button :benefits, "0", :class => "radio", :style => "float: left;", :onchange => "step1Answer();", :checked => (params[:fa] && params[:fa][:benefits] == '0') %>
      <%= f.label :benefits_0, "No", :style => "width:auto; float: left;" %>
    </p>
    <div class="clear"></div>

    <div id="step_1_yes" class="yes" style="display:none">
      Please complete the step 5 of the form <%= link_to 'here', :anchor => "step_4" %> so we can assist you further.
    </div>
    <div id="step_1_more" class="more_info" style="display:none">

    </div>
  <% end -%>

  <% field_set_tag 'Step 3: Monthly Income', :id => "step_2" do -%>
    <p>
      Please give us details of your income per calendar month
    </p>

    <p>
      Total gross monthly income and earnings from employment for you and any partner living with you (who is not your opponent)
      <a href="#" class="normalTip" title="If paid 4 weekly multiply by 13 and divide by 12 for a monthly figure. <br /> If you are paid weekly please multiply the weekly total by 52 and then divide by 12.">[HELP]</a>
      <br />
      &pound; <%= f.text_field :gross_income, :onchange => "updateTotalIncome();", :class => "sm" %> monthly
    </p>

    <p>
      Total other monthly income including items such as maintenance, CSA, Pensions, Child benefit, incapacity benefit and tax credits.
      <a href="#" class="normalTip" title="If paid 4 weekly multiply by 13 and divide by 12 for a monthly figure. <br /> If you are paid weekly please multiply the weekly total by 52 and then divide by 12.">[HELP]</a>
      <br />
      &pound; <%= f.text_field :other_income, :onchange => "updateTotalIncome();", :class => "sm" %> monthly
    </p>

    <p>
      Total of other benefits received (exc those entered in step 1) such as child benefit, incapacity benefit and tax credits.
      <a href="#" class="normalTip" title="If paid 4 weekly multiply by 13 and divide by 12 for a monthly figure. <br /> If you are paid weekly please multiply the weekly total by 52 and then divide by 12.">[HELP]</a>
      <br />
      &pound; <%= f.text_field :benefits_income, :onchange => "updateTotalIncome();", :class => "sm" %> monthly
    </p>

    <p>
      <strong>
        Total before deductions = &pound;<span id="total_income">N/A</span>
      </strong>
      <span class="more" style="display: inline-block;"><%= link_to_function 'Total', "updateTotalIncome()", :class=>"small" %></span>
    </p>

    <div id="step_2_no" class="no" style="display:none;">
      Please skip to step 5 of the form <%= link_to 'here', :anchor => "step_4" %> so we can assist you further.
    </div>

    <div id="step_2_more" class="more_info" style="display:none">
      We need some further information from you, please complete Step 4.
    </div>

  <% end -%>

  <% field_set_tag 'Step 4: Deductions', :id => "step_3" do -%>

    <p>
      To establish your monthly disposable income we now need to make some deductions from your Gross income
    </p>

    <p>
      Do you have any children living with you? <a href="#" class="normalTip" title="Applies to any child 18 and under, in full time education for who you are receiving child benefit">[HELP]</a>
      <br />
      <%= f.select :children_out, [["please select...", nil]] + (0..10).to_a, {}, {:onchange => "updateTotalOut();"} -%>
    </p>

    <p>
      What is your monthly mortgage or rent payment? <a href="#" class="normalTip" title="After housing benefit has been deducted">[HELP]</a>
      <br />
      &pound; <%= f.text_field :rent_out, :onchange => "updateTotalOut();", :class => "sm" %>
    </p>

    <p>
      How many people’s wages are included in the gross monthly earnings shown in step 2?
      <br />
      <%= f.select :people_out, (1..5).to_a, {}, {:onchange => "updateTotalOut();"} %>
    </p>

    <p>
      Do you have a partner whose income has been included above or who lives with you and is dependant upon you?
    </p>

    <p>
      <%= f.radio_button :partner_out, "1", :class => "radio", :style => "float: left;", :onchange => "updateTotalOut();", :checked => (params[:fa] && params[:fa][:partner_out] == '1') %>
      <%= f.label :partner_out_1, "Yes", :style => "width:auto; float: left;" %>
      <br />
      <%= f.radio_button :partner_out, "0", :class => "radio", :style => "float: left;", :onchange => "updateTotalOut();", :checked => (params[:fa] && params[:fa][:partner_out] == '0') %>
      <%= f.label :partner_out_0, "No", :style => "width:auto; float: left;" %>
    </p>
    <div class="clear"></div>
    <p>
      <br />
      Do you pay maintenance for any children or former spouse who do not live with you and if so how much?
      <br />
      &pound; <%= f.text_field :maintenance_out, :onchange => "updateTotalOut();", :class=>"sm" %> monthly
    </p>

    <p>
      Do you pay childcare costs because you work or are self employed and if so how much?
      <br />
      &pound; <%= f.text_field :childcare_out, :onchange => "updateTotalOut();", :class=>"sm" %> monthly
    </p>

    <p>
      Please state the income tax and NI deducted from your monthly wage?
      <a href="#" class="normalTip" title="If paid 4 weekly multiply by 13 and divide by 12 for a monthly figure">[HELP]</a>
      <br />
      &pound; <%= f.text_field :tax_out, :onchange => "updateTotalOut();", :class=>"sm" %>
    </p>

    <p>
      <strong>
        We estimate your monthly disposable income to be &pound;<span id="total_out">0.00</span>
      </strong>
      <span class="more" style="display: inline-block;"><%= link_to_function 'Total', "updateTotalOut()", :class=>"small" %></span>
    </p>

    <div id="step_3_no" class="no" style="display:none;">
      Please complete the final step of the form <%= link_to 'here', :anchor => "end" %> so we can assist you further.
    </div>

    <div id="step_3_more" class="more_info" style="display:none">
      We need some further information from you, please complete Step 5.
    </div>

  <% end -%>

  <% field_set_tag 'Step 5: Property', :id => "step_4" do -%>
    <p>
      <strong>
        If you do not own a property or if your matter relates to divorce and / or financial settlement and these assets are the subject of your dispute, please do not include property, savings or investments details as these will be disregarded and move on to step 7.
      </strong>
    </p>

    <p>
      Do you have equity of more than £108,000 after deducting a maximum of £100,000 for any mortgage?
      <a href="#" class="normalTip" title="Equity is the estimated value of your property  less a maximum of £100,000 for any mortgages.">[HELP]</a>
    </p>

    <p>
      <%= f.radio_button :high_equity, "1", :class => "radio", :style => "float: left;", :onchange => "updateTotalVal();", :checked => (params[:fa] && params[:fa][:high_equity] == '1') %>
      <%= f.label :high_equity_1, "Yes", :style => "width:auto; float: left;" %>
      <br />
      <%= f.radio_button :high_equity, "0", :class => "radio", :style => "float: left;", :onchange => "updateTotalVal();", :checked => (params[:fa] && params[:fa][:high_equity] == '0') %>
      <%= f.label :high_equity_0, "No", :style => "width:auto; float: left;" %>
    </p>

    <div id="step_4_no" class="no" style="display:none;">
      We now have enough information to assess your interest.  Please complete the final step of the form <%= link_to 'here', :anchor => "end" %> so we can assist you further.
    </div>

    <div id="step_4_more" class="more_info" style="display:none">
      We need some further information from you, please complete Step 6.
    </div>

  <% end -%>

  <% field_set_tag 'Step 6: Savings and Investments', :id => "step_5" do -%>

    <p>
      NB If held jointly, please show your share only
    </p>

    <p>
      Please outline any savings and investments you have.  If these are held jointly please show only your share:
      <br />
      &pound; <%= f.text_field :savings, :onchange => "updateTotalSav();", :class=>"sm" %>
    </p>

    <p>
      Current value of any shares
      <br />
      &pound; <%= f.text_field :shares, :onchange => "updateTotalSav();", :class=>"sm" %>
    </p>

    <p>
      The equity in any property that is not your main home
      <a href="#" class="normalTip" title="The  equity is the value of the property less any mortgage and/ or secured loans">[HELP]</a>
      <br />
      &pound; <%= f.text_field :property, :onchange => "updateTotalSav();", :class=>"sm" %>
    </p>

    <p>
      Current value of any Bonds
      <br />
      &pound; <%= f.text_field :bonds, :onchange => "updateTotalSav();", :class=>"sm" %>
    </p>

    <p>
      Current value of any endowment policies
      <a href="#" class="normalTip" title="Current surrender or cash in value not anticipated maturity value">[HELP]</a>
      <br />
      &pound; <%= f.text_field :endowment, :onchange => "updateTotalSav();", :class=>"sm" %>
    </p>

    <p>
      <strong>Total available Savings = &pound;<span id="total_sav">0.00</span></strong>
      <span class="more" style="display: inline-block;"><%= link_to_function 'Total', "updateTotalSav()", :class=>"small" %></span>
    </p>

    <div id="step_5_yes" class="yes" style="display:none">
      We now have enough information to assess your interest.  Please complete the final step of the form <%= link_to 'here', :anchor => "end" %> so we can assist you further.
    </div>
    <div id="step_5_no" class="no" style="display:none">
      We now have enough information to assess your interest.  Please complete the final step of the form <%= link_to 'here', :anchor => "end" %> so we can assist you further.
    </div>

  <% end -%>

  <% field_set_tag 'Step 7: Personal Details', :id => "end" do -%>

    <p class="note">If your case is sensitive then please think about which contact details you would like us to use.</p>

    <p>
      <%= f.label :name, "Name <span class='man'>*</span>" %><br />
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :postcode %><br />
      <%= f.text_field :postcode %>
    </p>

    <p>
      <%= f.label :email, "Email <span class='man'>*</span>" %><br />
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :phone, "Phone <span class='man'>*</span>" %><br />
      <%= f.text_field :phone %>
    </p>

    <%= submit_tag " ", :class=>"results_button" %>

  <% end -%>

  <p>
    Thank You for using this calculator.
    By giving us your contact details you are allowing us to contact you shortly to establish your requirements.
    Your details will never be passed on.
  </p>

<% end -%>