<h2>For a Sale at <span><%= number_to_pounds @cq.sale_amount %></span></h2>
<h3>Our fees will be <%= number_to_pounds @cq.sale_fees %> and include the following:</h3>
<p>Obtaining Office Copies of Title, preparing Contract, Responding to enquiries raised, approving Transfer Deed and completing the matter. </p>

<hr />

<p>
Total fees for your sale: <%= number_to_pounds @cq.subtotal %><br />
VAT: <%= number_to_pounds @cq.vat %><br />
TOTAL: <%= number_to_pounds @cq.total %>
</p>

<p>
Plus any Disbursements and additional supplemental fees which are outlined below
</p>

<hr />

<h2>DISBURSEMENTS (or 3rd party costs)</h2>
<p>
These costs are not our fees and must be paid to 3rd parties in order to properly conduct your transaction/s for you.<br />
Searches from &pound;200 (inc vat)<br />
</p>

<hr />

<%= render "conveyancing_quotes/show/supplemental_fees", :types => ['Sale'] %>
