<% @page_node = PageNode.find_by_name("Get a Quote") %>

<% if @page_node.active_content.highlight_content? || @page_node.active_content.highlight_image? %>
  <% content_for :right do %>
    <div class="highlight_area">

      <% if @page_node.active_content.highlight_image? %>
        <% if @page_node.active_content.highlight_link? %>
          <%= link_to image_tag(@page_node.active_content.highlight_image.url(:main), :alt => @page_node.active_content.highlight_image_alt, :width => "208"), @page_node.active_content.highlight_link %>
        <% elsif @page_node.active_content.highlight_external_link? %>
          <%= link_to image_tag(@page_node.active_content.highlight_image.url(:main), :alt => @page_node.active_content.highlight_image_alt, :width => "208"), @page_node.active_content.highlight_external_link, :popup => true %>
        <% else %>
          <%= image_tag(@page_node.active_content.highlight_image.url(:main), :alt => @page_node.active_content.highlight_image_alt, :width => "208") %>
         <% end %>
      <% end %>

      <div id="highlight_box" class="<%= @page_node.active_content.highlight_style %>">
        <%= @page_node.active_content.highlight_content %>
        <% if @page_node.active_content.highlight_link? %>
          <p class="more" align="right"><%= link_to "View More", @page_node.active_content.highlight_link, {:class=>"small"} %></p>
        <% elsif @page_node.active_content.highlight_external_link? %>
          <p class="more" align="right"><%= link_to "View More", @page_node.active_content.highlight_external_link, :popup => true, :class=>"small" %></p>
        <% end %>
      </div>
      </div>
    <% end %>
 <% else %>
  <% hide_right %>
<% end %>

<% if @page_node %>
  <h1><%= title @page_node.navigation_title %></h1>
<% else %>
  <h1><%= title "New Conveyancing Quote" %></h1>
<% end %>
<!--<p id="flash_error">Sorry, our online conveyancing quote form is currently unavailable.</p>-->

<p>Use our online calculator now for an instant quote. You will also automatically recieve a copy of the quote by e-mail.</p>
<div id="online_calculator">
  <%= render :partial => 'form' %>
</div>
<%= @page_node.active_content.main_content if @page_node %>
