<h2>For a Sale at <span><%= number_to_pounds @cq.sale_amount %></span></h2>
<h3>Our fees will be <%= number_to_pounds @cq.sale_fees %> and include the following:</h3>
<p>Obtaining Office Copies of Title, preparing Contract, Responding to enquiries raised, approving Transfer Deed and completing the matter. </p>

<h2>For a Purchase at <span><%= number_to_pounds @cq.purchase_amount %></span></h2>
<h3>Our fees will be <%= number_to_pounds @cq.purchase_fees %> and include the following:</h3>
<p>Perusing the Contract, raising enquiries, submitting Searches, preparing Transfer deed, Land Registry Search, Bankruptcy Search, Telegraphic Bank Transfer Service, production of Stamp Duty Land Tax Documents and registration of your title at H M Land Registry.</p>

<hr />

<p>
Total fees for your sale and purchase: <%= number_to_pounds @cq.subtotal %><br />
VAT: <%= number_to_pounds @cq.vat %><br />
TOTAL: <%= number_to_pounds @cq.total %>
</p>

<p>
Plus any Disbursements and additional supplemental fees which are outlined below
</p>

<hr />

<h2>DISBURSEMENTS (or 3rd party costs)</h2>
<p>
These costs are not our fees and must be paid to 3rd parties in order to properly conduct your transaction/s for you.<br />
Searches from &pound;200 (inc vat)<br />
Land Registration Fee <%= number_to_pounds @cq.land_reg_fees %><br />
Stamp Duty Land Tax (% of the purchase price) <%= number_to_pounds @cq.stamp_duty %>
</p>

<hr />

<%= render "conveyancing_quotes/show/supplemental_fees", :types => ['Sale', 'Purchase'] %>
