<% form_for [:admin, @job], :html => {:multipart => true} do |f| %>
  
  <%= f.error_messages %>

  <% field_set_tag 'Basic Infomration' do -%>
  <p>
    <%= f.label :name, "Job Title" %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </p>
  
  <p>
    <%= f.label :main_content, "Description" %><br />
    <%= f.advanced_text_area :main_content %>
  </p>  
  
  <p>
    <%= f.label :closing_date, "Closing Date" %><br />
    <%= f.calendar_date_select :closing_date %>
  </p>
  <% end -%>  
  
  <% field_set_tag 'Application Pack' do -%>
  <p>
    <%= document_field_tag f, :job, :application_pack  %>
  </p>
  <% end -%>
  
  <% field_set_tag 'Offices' do -%>
    <% for office in Office.active.arrange -%>
      <p>
        <%= check_box_tag "job[office_ids][]", office.id, @job.office_ids.include?(office.id), :id => "office_#{office.id}" %>
        <%= label_tag "job[office_ids][]", office.name, :for => "office_#{office.id}" %>
      </p>
    <% end -%>
  <% end -%>
  
  <p><%= f.submit "Submit" %></p>
  
<% end %>
