<% for node in nodes %>
  <% if  node.display_in_navigation? && node.display? %>
    <li>
      <% unless node.alternate_header? %>
        <% children = PageNode.children(node.id).order(:position).active.navigation %>
        <%- if @current_page_node && (@current_page_node == node || @current_page_node.ancestors.include?(node)) -%>
          <%= link_to h(node.navigation_title), url_for(node.path), :class => "highlight", :style => (children.length > 0) ? "" : "background-image: none;" -%>
          <%= yield "left_navigation_#{node.id}"%>
          <%- if children.length > 0 -%>
            <ul>
              <%- if @current_page_node && (@current_page_node == node || @current_page_node.ancestors.include?(node)) -%>
                <%= render :partial => "shared/navigation_node", :locals => {:nodes => children} -%>
              <%- end -%>
            </ul>
          <%- end -%>
        <%- else -%>
          <%= link_to h(node.navigation_title), url_for(node.path), :style => (children.length > 0) ? "" : "background-image: none;" -%>
          <%= yield "left_navigation_#{node.id}"%>
        <% end %>
      <% else %>
        <% children = PageNode.children(node.id).order(:position).active.navigation %>
        <%- if @current_page_node && (@current_page_node == node || @current_page_node.ancestors.include?(node)) -%>
          <%= link_to h(node.navigation_title), url_for(node.path), :popup => (@current_page_node.alternate_header? ? false : true), :class => "highlight", :style => (children.length > 0) ? "" : "background-image: none;" -%>
          <%= yield "left_navigation_#{node.id}"%>
          <%- if children.length > 0 -%>
            <ul>
              <%- if @current_page_node && (@current_page_node == node || @current_page_node.ancestors.include?(node)) -%>
                <%= render :partial => "shared/navigation_node", :locals => {:nodes => children} -%>
              <%- end -%>
            </ul>
          <%- end -%>
        <%- else -%>
          <%= link_to h(node.navigation_title), url_for(node.path), :popup => (@current_page_node.alternate_header? ? false : true), :style => (children.length > 0) ? "" : "background-image: none;" -%>
          <%= yield "left_navigation_#{node.id}"%>
        <% end %>
      <% end %>
    </li>
  <%- end -%>
<%- end -%>
