<% hide_contact %>
<% metadata(@page_node.active_content.meta_description, @page_node.active_content.meta_tags) %>

<h1><%= title @page_node.title %></h1>

<%= @page_node.active_content.main_content %>

<div class="contact_form">
  <% form_tag :controller => "web", :action => "deliver_contact_us" do %>
    <p>
      <%= label_tag :title %><br />
      <%= select_tag :title, options_for_select([["Select...", nil], "Mr.", "Miss.", "Mrs."], params[:title]) %>
    </p>
    <p>
      <%= label_tag :first_name %><br />
      <%= text_field_tag :first_name, params[:first_name] %>
    </p>
    <p>
      <%= label_tag :surname %><br />
      <%= text_field_tag :surname, params[:surname] %>
    </p>
    <p>
      <%= label_tag :tel %><br />
      <%= text_field_tag :tel, params[:tel] %>
    </p>
    <p>
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </p>
    <p>
      <%= label_tag :confirm_email %><br />
      <%= text_field_tag :confirm_email, params[:confirm_email] %>
    </p>
    <p>
      <%= label_tag :pcm, "Preferred contact method" %><br />
     <span style="float: left;"><%= radio_button_tag 'pcm', 'By telephone', (params[:pcm] == "By telephone") ? true : false, {:class => "radio"} %></span><span style="float: left; margin-top: 5px;">By telephone</span>
      <br class="clear" />
      <span style="float: left;"><%= radio_button_tag 'pcm', 'By email', (params[:pcm] == "By email") ? true : false, {:class => "radio"} %></span><span style="float: left; margin-top: 5px;">By email</span>
    </p>
    <p class="clear">
      <%= label_tag :enquiry %><br />
      <%= text_area_tag :enquiry, params[:enquiry] %>
    </p>
    <p>
      <%= label_tag :department %><br />
      <%= select_tag :department, options_from_tree_for_select(PageNode.service_nodes, lambda{|x| x.id}, lambda{|x| x.navigation_title}, lambda{|x| PageNode.active.children(x.id).position}, true, (params[:department]) ? params[:department].to_i : nil, :include_blank => "Select...") %>
    </p>
    <p>
      <%= label_tag :heard_about, "How did you find this site?" %><br />
      <%= select_tag :heard_about, options_for_select([["Select...", "Not provided"], "Google search", "Yell.com search", "Other search", "Advertisement", "Facebook advert", "Recommendation", "Existing Client", "Peak FM advert"], params[:heard_about]) %>

    </p>
    <p>
      <%= label_tag "Verify Identity" %><br />
      <%= recaptcha_tags :display => { :theme => "white" } %>
    </p>
    <p>
      <%= check_box_tag :privacy_policy, '1', params[:privacy_policy], :class => "checkbox check_box" %>
      <%= label_tag "Please confirm that you have read our #{link_to "privacy policy", :controller => "web", :action => "privacy"}" %>
    </p>
    <p>
      <%= submit_tag "Submit" %>
    </p>
  <% end %>
</div>

<small>
  <p>
    <p>Your details will not be passed to any third party.</p>
    <p>Did you find what you were looking for? We are always looking for ways to improve our website so please e-mail <a href="mailto: info@bannerjones.co.uk">info@bannerjones.co.uk</a> if you have any comments.</p>
  </p>
</small>

<% content_for :right do %>
  <% if @page_node.active_content.highlight_content? || @page_node.active_content.highlight_image? %>
    <div class="highlight_area">

      <% if @page_node.active_content.highlight_image? %>
        <% if @page_node.active_content.highlight_link? %>
          <%= link_to image_tag(@page_node.active_content.highlight_image.url(:main), :alt => @page_node.active_content.highlight_image_alt, :width => "208"), @page_node.active_content.highlight_link %>
        <% elsif @page_node.active_content.highlight_external_link? %>
          <%= link_to image_tag(@page_node.active_content.highlight_image.url(:main), :alt => @page_node.active_content.highlight_image_alt, :width => "208"), @page_node.active_content.highlight_external_link, :popup => true %>
        <% else %>
      	  <%= image_tag(@page_node.active_content.highlight_image.url(:main), :alt => @page_node.active_content.highlight_image_alt, :width => "208") %>
      	 <% end %>
      <% end %>

      <div id="highlight_box" class="<%= @page_node.active_content.highlight_style %>">
        <%= @page_node.active_content.highlight_content %>
        <% if @page_node.active_content.highlight_link? %>
          <p class="more" align="right"><%= link_to "View More", @page_node.active_content.highlight_link, {:class=>"small"} %></p>
        <% elsif @page_node.active_content.highlight_external_link? %>
          <p class="more" align="right"><%= link_to "View More", @page_node.active_content.highlight_external_link, :popup => true, :class=>"small" %></p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
