<% title "Family Assist Calculator" -%>

<% content_for :javascript do %>
	<%= stylesheet_link_tag "tooltip.css" %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "jquery-ui" %>
	<%= javascript_include_tag "tooltip" %>
	<%= javascript_include_tag "p7exp" %>
<% end -%>

<% hide_right %>

<% if @ok -%>

  <p>
    <% if @family_assistance_calculation.approved? -%>

      Thank you, you may be eligible for family assistance. Someone will be in touch with you to find out how we can help, or you can contact us now.

    <% else -%>

      Thank you, unfortunately you are currently not eligible for family assistance and will need to look at alternative funding arrangements. <br />
      <% if ((@family_assistance_calculation.high_equity == true) or (@family_assistance_calculation.saving_total > 8000)) %>
        We can help you with this, please contact us for more details including our affordable <%= link_to_page "fixed fee divorce solutions", "Fixed Fee Divorce" %>. <br />
      <% end %>

      <% if (@family_assistance_calculation.high_equity == false) and (@family_assistance_calculation.saving_total <= 0) %>
        The Citizens Advice Bureau may be able to help with this, <%= link_to "http://www.citizensadvice.co.uk/", "http://www.citizensadvice.co.uk/", :target => "_blank" %>
      <% end %>

    <% end -%>
  </p>

  <!-- Google Code for legal aid calculator used Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1038213147;
  var google_conversion_language = "en";
  var google_conversion_format = "2";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "FannCLms0AIQm8CH7wM";
  var google_conversion_value = 0;
  /* ]]> */
  </script>
  <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1038213147/?label=FannCLms0AIQm8CH7wM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>

<% else -%>
  <%= render "page_contents/family_assistance_calculator" %>
<% end -%>
