<% hide_contact %>
<% metadata(@page_node.active_content.meta_description, @page_node.active_content.meta_tags) %>

<h1>
	<% if params[:dki] %>
		<%= title(params[:dki].gsub("-", " ")) %>
	<% else %>
		<%= title(@page_node.title) %>
	<% end %>
</h1>

<%= @page_node.active_content.main_content %>

<div class="small_button_links">
<% for node in PageNode.active.parent_id_equals(@page_node.id) %>
  <%= render "page_nodes/button", :node => node, :small => true %>
<% end %>
</div>

<%= render :partial => "shared/contact_now_button" %>

<% if @testimonials && @testimonials.length > 0 %>
	<hr />
  <div class="testimonials_case_studies">
	  <div class="more" style="float: right;"><%= link_to "Read All", testimonials_path, {:class=>"small"} %></div>
	  <h3><%= link_to "Client Testimonials", testimonials_path %></h3>
	   <% for testimonial in @testimonials %>
    <p>
      "<%= testimonial.quote %>"
	    <span> - <%= testimonial.name %></span>
	  </p>
	  <% end %>
  </div>
<% end %>

<% if @case_studies && @case_studies.length > 0 %>
  <hr />
  <div class="testimonials_case_studies">
	  <div class="more" style="float: right;"><%= link_to "Read All", case_studies_path, {:class=>"small"} %></div>
	  <h3><%= link_to "Case Studies", case_studies_path %></h3>
	   <% for case_study in @case_studies %>
      <p>
  	    <%= link_to case_study.name, case_study %><br />
        <%= case_study.summary %>
  	  </p>
  	  <% end %>
  </div>
<% end %>

<% content_for :right do %>

  <!-- HIGHLIGHT -->
  <% if @page_node.active_content.highlight_content? || @page_node.active_content.highlight_image? %>
		<div class="highlight_area">
			<% if @page_node.active_content.highlight_image? %>
				<% if @page_node.active_content.highlight_link? %>
					<%= link_to image_tag(@page_node.active_content.highlight_image.url(:main), :alt => @page_node.active_content.highlight_image_alt, :width => "208"), @page_node.active_content.highlight_link %>
				<% elsif @page_node.active_content.highlight_external_link? %>
					<%= link_to image_tag(@page_node.active_content.highlight_image.url(:main), :alt => @page_node.active_content.highlight_image_alt, :width => "208"), @page_node.active_content.highlight_external_link, :popup => true %>
				<% else %>
					<%= image_tag(@page_node.active_content.highlight_image.url(:main), :alt => @page_node.active_content.highlight_image_alt, :width => "208") %>
				 <% end %>
			<% end %>
			<div id="highlight_box" class="<%= @page_node.active_content.highlight_style %>">
				<%= @page_node.active_content.highlight_content %>
				<% if @page_node.active_content.highlight_link? %>
					<p class="more" align="right"><%= link_to "View More", @page_node.active_content.highlight_link, {:class=>"small"} %></p>
				<% elsif @page_node.active_content.highlight_external_link? %>
					<p class="more" align="right"><%= link_to "View More", @page_node.active_content.highlight_external_link, :popup => true, :class=>"small" %></p>
				<% end %>
			</div>
		</div>
		<hr />
  <% end %>

  <!-- HIGHLIGHT #2 -->
  <% if @page_node.active_content.highlight_2_content? || @page_node.active_content.highlight_2_image? %>
		<div class="highlight_area">
			<% if @page_node.active_content.highlight_2_image? %>
				<% if @page_node.active_content.highlight_2_link? %>
					<%= link_to image_tag(@page_node.active_content.highlight_2_image.url(:main), :alt => @page_node.active_content.highlight_2_image_alt, :width => "208"), @page_node.active_content.highlight_2_link %>
				<% elsif @page_node.active_content.highlight_2_ext_link? %>
					<%= link_to image_tag(@page_node.active_content.highlight_2_image.url(:main), :alt => @page_node.active_content.highlight_2_image_alt, :width => "208"), @page_node.active_content.highlight_2_ext_link, :popup => true %>
				<% else %>
					<%= image_tag(@page_node.active_content.highlight_2_image.url(:main), :alt => @page_node.active_content.highlight_2_image_alt, :width => "208") %>
				 <% end %>
			<% end %>
			<div id="highlight_box" class="<%= @page_node.active_content.highlight_2_style %>">
				<%= @page_node.active_content.highlight_2_content %>
				<% if @page_node.active_content.highlight_2_link? %>
					<p class="more" align="right"><%= link_to "View More", @page_node.active_content.highlight_2_link, {:class=>"small"} %></p>
				<% elsif @page_node.active_content.highlight_2_ext_link? %>
					<p class="more" align="right"><%= link_to "View More", @page_node.active_content.highlight_2_ext_link, :popup => true, :class=>"small" %></p>
				<% end %>
			</div>
		</div>
		<hr />
  <% end %>

  <% if @page_node.active_content.video && @page_node.active_content.video.valid? %>
  		<h3><%= link_to "Videos", videos_path %></h3>
      <%= link_to image_tag(@page_node.active_content.video.thumbnail_url, :width => 208), @page_node.active_content.video %>
      <p><%= link_to @page_node.active_content.video.name, @page_node.active_content.video %></p>
      <hr />
  <% end %>

  <% if @articles && @articles.length > 0 %>
    <h3><%= link_to "News &amp; Updates", articles_path %></h3>
    <% if @articles.first.image? %>
      <%= link_to image_tag(@articles.first.image.url(:index), :width => "208"), @articles.first %>
    <% end %>
    <div class="news_summary">
      <% for article in @articles %>
        <%= link_to article.headline, article %>
      <% end %>
    </div>
    <hr />
  <% end %>

  <% if @team_members && @team_members.length > 0 %>
  <h3>Meet the Team</h3>
  <div class="team_summary">
  <% for team_member in @team_members %>
  	<p>
      <%= link_to team_member.name, team_member %><br />
      <%= team_member.role %>
    </p>
  <% end %>
  </div>
  <% end %>

<% end %>
