<%- main_page_node = @current_page_node.root -%>


<div class="tabs-container show-for-small">
<div class="mobile-nav-section-tab show-for-small">
  <% if main_page_node.name == "Wealth Services for you main 2" %>
    <h2><%= link_to "You", url_for(main_page_node.path), :class => "nav-family" %></h2>
  <% else %>
    <h2><%= link_to "Business", url_for(main_page_node.path), :class => "nav-Business" %></h2>
  <% end %>
</div>

<div class="mobile-nav-section-tab show-for-small">
  <% parent = @current_page_node.parent(@current_page_node.id) %>
  
  <% unless @current_page_node == main_page_node %>
    <% unless parent == main_page_node %>
      <% if main_page_node.name == "Wealth Services for you main 2" %>
        <h2><%= link_to parent.navigation_title, url_for(parent.path), :class => "nav-family" %></h2>
      <% else %>
        <h2><%= link_to parent.navigation_title, url_for(parent.path) %></h2>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>

<% if main_page_node.name == "Wealth Services for you main 2" %>
  <nav class="sections nav-family show-for-small">
<% else %>
  <nav class="sections show-for-small">
<% end %>
  <ul>
    <% unless @current_page_node == main_page_node %>
      <% parent = @current_page_node.parent(@current_page_node.id) %>
      <h2><%= link_to @current_page_node.navigation_title, url_for(@current_page_node.path) %></h2>
    <% end %>
    <% current_children = PageNode.children(@current_page_node.id).active.navigation.position %>
    <% unless current_children.blank? %>
      <li><a href="#" title="Toggle more details" onclick="navToggle('section-2');return false;"><img src="/images/mobile-menu-icon.png" />Sections</a></li>
    <% end %>
  </ul>

  <% unless current_children.blank? %>
    <section id="section-2" class="hide-nav">
      <ul class="section-2-left">
        <% for page_node in current_children %>
          <%# children = PageNode.children(page_node.id).active.navigation.position %>
          <li>
            <%= link_to page_node.navigation_title, url_for(page_node.path) %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
</nav>

