<ul id="p7menubar" class="hide-for-small">
	<% for page_node in PageNode.active.position.roots.navigation %>
    <% options = {} %>
    <% if @current_page_node && (@current_page_node == page_node || @current_page_node.ancestors.include?(page_node)) %>
      <% options.merge!(:class => "highlight") %>
    <% end %>
    <% if page_node.access_key? %>
      <% options.merge!(:accesskey => page_node.access_key) %>
    <% end %>
    <% unless [196, 197].include?(page_node.id) %>
    <% if page_node == PageNode.active.position.roots.navigation.last %>

        <li><%= link_to page_node.navigation_title, url_for(page_node.path), options.merge(:style => "background-image:none;") %></li>

    <% else %>
      <li>
        <%= link_to page_node.navigation_title, url_for(page_node.path), options %>
     <% end %>
      <% if PageNode.service_nodes.include?(page_node) %>

        <% children = PageNode.children(page_node.id).active.navigation.position %>

        <% if PageNode.find_by_name("Services for your business") == page_node %>


          <!-- BUSINESS -->

          <ul class='short'>

            <% per_column = children.length.to_f / 3.0 %>
            <% mod = children.length % 3 %>
            <% split1 = per_column.to_i %>
            <% split1 = split1 + 1 if mod > 0 %>
            <% split2 = split1 + per_column.to_i %>
            <% split2 = split2 + 1 if mod > 1 %>

            <div>
              <% offset1 = (mod.to_f/2.0).ceil %>
              <% #for child in children[0..split1-1]
							for child in children[0..0]
							%>
                <li class="business_top_title"><%= link_to child.navigation_title, url_for(child.path), :class => "business_arrow" %></li>

                <% for grandchild in PageNode.children(child.id).active.navigation %>
                  <li><%= link_to grandchild.navigation_title, url_for(grandchild.path), :class => "business_arrow" %></li>
                <% end -%>

              <% end %>
            </div>

            <div>
              <% offset2 = (mod.to_f/2.0).to_i %>
              <% #for child in children[split1..split2-1]
							for child in children[1..1]
							%>

                <li class="business_top_title"><%= link_to child.navigation_title, url_for(child.path), :class => "business_arrow" %></li>

                <% for grandchild in PageNode.children(child.id).active.navigation %>
                  <li><%= link_to grandchild.navigation_title, url_for(grandchild.path), :class => "business_arrow" %></li>
                <% end -%>

              <% end %>
            </div>

            <div style="margin-right: 0px; padding-right: 0px; border-right: 0px;">
              <% #for child in children[split2..100]
							for child in children[2..100]
							%>
                <li class="business_top_title"><%= link_to child.navigation_title, url_for(child.path), :class => "business_arrow" %></li>

                <% for grandchild in PageNode.children(child.id).active.navigation %>
                  <li><%= link_to grandchild.navigation_title, url_for(grandchild.path), :class => "business_arrow" %></li>
                <% end -%>
              <% end %>
            </div>

          </ul>


        <% else -%>

          <!-- FAMILY -->
          <ul>

            <% children = children.sort_by{|x| x.active_content.navigation_title} %>
            <% per_column = children.length.to_f / 3.0 %>
            <% mod = children.length % 3 %>
            <% split1 = per_column.to_i %>
            <% split1 = split1 + 1 if mod > 0 %>
            <% split2 = split1 + per_column.to_i %>
            <% split2 = split2 + 1 if mod > 1 %>

            <div>
              <% offset1 = (mod.to_f/2.0).ceil %>
              <% for child in children[0..split1-1] %>
                <% if child.ancestors.include?(PageNode.business_node.first) %>
                  <% css_class = "business_arrow" %>
                <% elsif child.ancestors.include?(PageNode.family_node.first) %>
                  <% css_class = "family_arrow" %>
                <% else %>
                  <% css_class = "other_arrow" %>
                <% end %>
                <li><%= link_to child.navigation_title, url_for(child.path), :class => css_class %></li>
              <% end %>
            </div>

            <div>
              <% offset2 = (mod.to_f/2.0).to_i %>
              <%# raise offset1.to_s %>
              <% for child in children[split1..split2-1] %>
                <% if child.ancestors.include?(PageNode.business_node.first) %>
                  <% css_class = "business_arrow" %>
                <% elsif child.ancestors.include?(PageNode.family_node.first) %>
                  <% css_class = "family_arrow" %>
                <% else %>
                  <% css_class = "other_arrow" %>
                <% end %>
                <li><%= link_to child.navigation_title, url_for(child.path), :class => css_class %></li>
              <% end %>
            </div>

            <div style="margin-right: 0px; padding-right: 0px; border-right: 0px;">
              <% for child in children[split2..100] %>
                <% if child.ancestors.include?(PageNode.business_node.first) %>
                  <% css_class = "business_arrow" %>
                <% elsif child.ancestors.include?(PageNode.family_node.first) %>
                  <% css_class = "family_arrow" %>
                <% else %>
                  <% css_class = "other_arrow" %>
                <% end %>
                <li><%= link_to child.navigation_title, url_for(child.path), :class => css_class %></li>
              <% end %>
            </div>

          </ul>

        <% end %>


      <% end %>

      </li>
    <% end %>
  <% end %>
</ul>
