<% title "Conveyancing Quotes" %>

<p><%= link_to "New Conveyancing Quote", new_conveyancing_quote_path %></p>
 
<% form_for @search do |f| %>
  <p>
    <%= f.select :status_equals, options_for_select([["All Quote Types", nil], "Quote Generated", "Interest Registered", "Closed"], params[:search][:status_equals]) %>
  </p>
  
  <p>
    <%= f.text_field :first_names_or_last_name_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= eskimo_table({:columns => [
  ["Created At", lambda{|x| x.created_at.strftime("%a, %d %b %Y %I:%M %p") }, "created_at"],
  ["ID", lambda{|x| x.id}, "id"],
  "title",
  "first_names", 
  "last_name", 
  "phone", 
  ["Email", lambda{|x| auto_link x.email }, "email"],
  "date",
  "status", 
  ["See Quote", lambda{|x| link_to "See Quote", conveyancing_quote_path(x, :p => x.passcode), :popup => true}, nil],
  ["See PDF", lambda{|x| link_to "See PDF", pdf_for_conveyancing_quote_path(x, :p => x.passcode, :format => "pdf"), :target => "_blank"}, nil],
  ["Close Quote", lambda{|x| link_to "Close Quote", close_admin_conveyancing_quote_path(x)}, nil, true],
  ["Re-open Quote", lambda{|x| link_to "Re-open Quote", reopen_admin_conveyancing_quote_path(x)}, nil, true]
  ], :list => @conveyancing_quotes, :edit_action => nil, :highlight => lambda{|x| x.status == "Interest Registered"}}) %>
