<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <% field_set_tag 'Approved' do -%>
      <p>
      <%= @lar.approved? ? "Yes" : "No" %>
      </p>
    <% end -%>

    <% field_set_tag 'Basic Info' do -%>

      <p>
        Name<br />
        <%= @lar.name %>
      </p>

      <p>
        Postcode<br />
        <%= @lar.postcode %>
      </p>

      <p>
        Email<br />
        <%= @lar.email %>
      </p>

      <p>
        Phone<br />
        <%= @lar.phone %>
      </p>

    <% end -%>

    <% unless @lar.divorce.blank? and @lar.children.blank? and @lar.injunctions.blank? %>
      <% field_set_tag 'Matter' do -%>

        <ul>

          <% unless @lar.divorce.blank? %>
            <% if @lar.divorce == true %>
              <li>
                Divorce and/or financial settlement
              </li>
            <% end %>
          <% end %>

          <% unless @lar.children.blank? %>
            <% if @lar.children == true %>
              <li>
                Children
              </li>
            <% end %>
          <% end %>

          <% unless @lar.injunctions.blank? %>
            <% if @lar.injunctions == true %>
              <li>
                Injunctions
              </li>
            <% end %>

          <% end %>

        </ul>

      <% end -%>
    <% end %>

    <% field_set_tag 'Income' do -%>

    <p>
      Do you currently receive any benefits?<br />
      <%= @lar.benefits? ? "Yes" : "No" %>
    </p>

    <p>
      Monthly gross income of earnings for yourself and anyone living with you<br />
      <%= ntp @lar.gross_income %>
    </p>

    <p>
      Other income you receive such as maintenance, CSA, pensions<br />
      <%= ntp @lar.other_income %>
    </p>

    <p>
      benefits_income, "Total of other benefits received<br />
      <%= ntp @lar.benefits_income %>
    </p>

    <p>
      <strong>
        Total Income: <%= ntp @lar.total_income %>
      </strong>
    </p>

    <p>
      Do you have any children living with you<br />
      <%= @lar.children_out %>
    </p>

    <p>
      What is your monthly mortgage or rent payment<br />
      <%= ntp @lar.rent_out %>
    </p>

    <p>
      How many people’s wages are included in the gross monthly earnings<br />
      <%= @lar.people_out %>
    </p>

    <p>
      Do you have a partner whose income has been included above or who lives with you and is dependant upon you<br />
      <%= @lar.partner_out? ? "Yes" : "No" %>
    </p>

    <p>
      Do you pay maintenance for any children or former spouse who do not live with you, if so how much<br />
      <%= ntp @lar.maintenance_out %>
    </p>

    <p>
      Do you pay childcare costs because you work or are self employed<br />
      <%= ntp @lar.childcare_out %>
    </p>

    <p>
      Please state the income tax and NI deducted from your monthly wage<br />
      <%= ntp @lar.tax_out %>
    </p>

    <p>
      <strong>
        Total Outgoings: <%= ntp @lar.total_outgoings %>
      </strong>
      <br />
      <strong>
        Disposable Income: <%= ntp @lar.disposable_income %>
      </strong>
    </p>

    <% end -%>

    <% field_set_tag 'Property' do -%>

    <p>
      Equity of more than £100,000?<br />
      <%= @lar.high_equity? ? "Yes" : "No" %>
    </p>

    <% end -%>

  <% field_set_tag 'Savings' do -%>

    <p>
      Savings:
      <%= ntp @lar.savings %>
    </p>

    <p>
      Shares:
      <%= ntp @lar.shares %>
    </p>

    <p>
      Property:
      <%= ntp @lar.property %>
    </p>

    <p>
      Bonds:
      <%= ntp @lar.bonds %>
    </p>

    <p>
      Endowment:
      <%= ntp @lar.endowment %>
    </p>

    <p>
      <strong>
        Savings: <%= ntp @lar.saving_total %>
      </strong>
    </p>

  <% end -%>

  </body>
</html>
