<h1><%= title @title %></h1>

<% if @events.length > 0 %>
<br />
  <% for event in @events %>
    <%= render "events/event", :event => event %>
    <hr />
  <% end %>
  
  <%= will_paginate @events %>
  
<% else %>
 <p>No events to display.</p>
<% end %>

<% content_for :right do  %>
    <%= render :partial => "tags" %>
    <%= render :partial => "dates" %>
<% end %>
