<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      Booking Request Form Completed for <%= @event_name %>
    </h1>
    <h2>Contact details:</h2>
    <% if @phone && !@phone.blank? %>
    	<strong>Telephone: </strong> <%= @phone %><br />
    <% end %>
    <% if @email && !@email.blank? %>
    	<strong>Email: </strong> <%= auto_link @email %><br />
    <% end %>
    <h2>Name:</h2>
    <%= @name %>
    <h2>No. of places:</h2>
    <%= @no_of_places %>
    <h2>Additional delegate names:</h2>
    <%= @additional_names.gsub("\n", '<br />') %>
  </body>
</html>
