<% form_for [:admin, @video], :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :summary %><br />
    <%= f.advanced_text_area :summary %>
  </p>

  <p>
    <%= f.label :youtube_url %><br />
    <%= f.text_field :youtube_url %>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>
