<% if event.image? %>
 <%= link_to image_tag(event.image.url(:index), :class=>"image_left"), {:action => "show",
  :id => event.id,
  :tag => params[:tag],
  :year => params[:year],
  :month => params[:month]} %>
<% end %>

<h2 style="margin: 0px; padding: 0px; font-size: 14px;"><%= link_to h(event.name), {:action => "show",
  :id => event.id,
  :tag => params[:tag],
  :year => params[:year],
  :month => params[:month]} %></h2>

<span class="date"><%=h simple_date_format event.start_date %></span>
<% if event.end_date? %>
   to <span class="date"><%=h simple_date_format event.end_date %></span>
<% end %>

<%=h event.summary %><br />

<p align="right"  class="more">
  <%= link_to "Read more", {:action => "show",
    :id => event.id,
    :tag => params[:tag],
    :year => params[:year],
    :month => params[:month]}, {:class=>"small", :style => 'display:inline-block;'} %>

  <%= link_to "Book Now", {:action => "show",
    :anchor => 'booking_form',
    :id => event.id,
    :tag => params[:tag],
    :year => params[:year],
    :month => params[:month]}, {:class=>"small", :style => 'display:inline-block;'} %>
</p>
