<%= toggle_fieldset "Additional Information" %>
  <p>
    <%= f.label :navigation_title %><br />
    <%= f.text_field :navigation_title %>
  </p>

  <p>
    <%= f.label :main_content, "Link URL" %><br />
    <%= f.text_field :main_content %>
  </p>
</fieldset>
