<% determine_page_node %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7 ]> <html class="lt-ie9 ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]>    <html class="lt-ie9 ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]>    <html class="lt-ie9 ie8" lang="en"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<html xmlns="http://www.w3.org/1999/xhtml">



<head>
  <%= render "layouts/facebook_pixel" %>
  <% if yield :head %>
    <%= yield :head %>
  <% end %>

  <meta name="p:domain_verify" content="2defcdf5f41d7db555d288b867ead22c"/>
	<link rel="shortcut icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= h("#{SiteSetting.find_by_name("Site Name").try(:value)} - #{yield(:title) || "Untitled"}") %></title>
  <link rel="stylesheet" href="/stylesheets/foundation.css" />
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <%= javascript_include_tag "foundation/foundation.min.js" %>
  <%= javascript_include_tag "foundation/app.js" %>


	<%= stylesheet_link_tag "webstyle.css" %>
	<%= stylesheet_link_tag "tnymc.css" %>
  <%= stylesheet_link_tag "ie8_grid.css" %>
	<% if @current_page_node && @current_page_node.style %>
		<%= stylesheet_link_tag @current_page_node.style %>
	<% end %>
	<% if @current_page_node && @current_page_node.ancestors.include?(PageNode.business_node.first) || @current_page_node == PageNode.business_node.first %>
  	<%= stylesheet_link_tag "business.css" %>
	<% elsif @current_page_node && @current_page_node.ancestors.include?(PageNode.family_node.first) || @current_page_node == PageNode.family_node.first %>
  	<%= stylesheet_link_tag "family.css" %>
  <% else %>
    <%= stylesheet_link_tag "webstyle_default.css" %>
	<% end %>



  <% if yield(:javascript) -%>
    <%= yield :javascript %>
  <% else -%>
  	<%= javascript_include_tag "prototype" %>
  	<%= javascript_include_tag "scriptaculous" %>
    <%= javascript_include_tag "p7exp" %>
  <% end -%>

	<% if @include_tinymce_script -%>
	  <%= javascript_include_tag "tiny_mce/tiny_mce.js" %>
	  <%= javascript_include_tag "tiny_mce_config" %>
	<% end -%>

  <link rel="stylesheet" href="/stylesheets/media_queries.css" />

	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<!--[if IE 6]>
<style type="text/css">
	.picture span, .small, .medium, .large { behavior: url(../iepngfix.htc); }
  .home_form {display: none;}
</style>
<![endif]-->

<% if yield :body %>
<%= yield :body %>
<% else %>
<body onload="P7_ExpMenu()">

<% end %>

<%= render :partial => "shared/mobile_navigation" %>



<div class="row full-row-main">
  <div class="twelve columns main-container">

<%= render :partial => "shared/admin_widget" %>


	<p class="skip"><a href="#content" accesskey="s">Skip to the main content</a></p>

<div class="row header-fix">
	<% if @current_page_node && @current_page_node.alternate_header? %>
		<div class="top-white six mobile-four columns">
			<%= link_to image_tag("logo-white.png", :alt => SiteSetting.find_by_name("Site Name").try(:value), :title => SiteSetting.find_by_name("Site Name").try(:value), :border => "0", :hspace => "0", :vspace => "0", :class => "logo"), {:controller => 'web', :action => 'index'} %>
			<div class="top_right_black six mobile-four columns">
        <span class="tel">
          01246 560 570
        </span>

        <span class="email">
          <%= link_to("info@bannerjoneswm.co.uk", "mailto:info@bannerjoneswm.co.uk") %>
        </span>

			</div>
		</div>
	<% else %>

    <div class="top six mobile-four columns hide-for-small">
      <div class="logo">
        <%= link_to image_tag("logo.gif", :alt => SiteSetting.find_by_name("Site Name").try(:value), :title => SiteSetting.find_by_name("Site Name").try(:value), :border => "0", :hspace => "0", :vspace => "0"), {:controller => 'web', :action => 'index'} %>
      </div>

      <%= image_tag "legal-500.jpg", :alt => "", :class => "legal-500 hide-for-small" %>

      <!-- <%= link_to_page image_tag("logo_fixed_fee.gif", :alt => "Fixed Fee Promise", :title => "Fixed Fee Promise", :border => "0", :hspace => "0", :vspace => "0", :class => "logo"), 'Fixed Fee Promise' %> -->
    </div>

    <div class="top_right six mobile-four columns">
      <p class="hide-for-small">
        <%= link_to "OFFICES", url_for(PageNode.offices_node.first.path) %>
         |
        <%= link_to "WHAT WE DO", url_for(PageNode.about_us_node.first.path) %>
         |
        <%= link_to "PAY ONLINE", new_payment_path %>
         |
        <%= link_to "FAQ'S", :controller => "faqs" %>
         |
        <%= link_to "RECRUITMENT", :controller => "jobs" %>
      </p>

      <span class="tel show-for-small"><span class="calltracks_bannerjonescouk-main">0330 017 6309</span></span>
      <span class="email show-for-small"><%= link_to("Contact Us Now", "/web/contact_us", :class => "contact_button") %></span>

      <span class="tel hide-for-small">
        <span class="calltracks_bannerjonescouk-main">0330 017 6309</span>
      </span>
      <div class="clear"></div>
      <span class="email hide-for-small">
        <%= link_to("Contact Us Now", "/web/contact_us", :class => "contact_button") %>
      </span>
      <div class="clear"></div>
    </div>

    <% unless @current_page_node.blank? %>
      <%= render :partial => "shared/mobile_secondary_navigation" %>
    <% end %>
  <% end %>

</div>
  <div id="menuwrapper" class="row">
    <%= render :partial => "shared/top_navigation" %>
  </div>

  <% if show_rss? %>
    <div class="row">
      <div id="rss-feed" class="twelve columns">
        <%= blog_feed %>
      </div>
    </div>
  <% end %>

	<% unless hide_search? %>
    <div class="breadcrumbs_search hide-for-small">
      <div class="breadcrumbs">
        <%= render :partial => "shared/breadcrumbs" %>
      </div>
      <%= render :partial => "shared/site_search_form" %>
		</div>
	<% end %>

	<div id="content" class="row">

		<%- unless hide_flash? -%>
		  <%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<%- end -%>
		<%- end -%>

		<% if hide_left? && hide_right? %>

			<%= @content_for_layout %>

		<% elsif hide_left? %>

			<div class="content_left">
				<%= @content_for_layout %>
			</div>

			<div class="right">
				<%= yield :right %>
			</div>

		<% elsif hide_right? %>

			<div class="left three columns hide-for-small">
			  <% if yield :left %>
  			  <%= yield :left %>
			  <% else %>
					<%= render :partial => "shared/navigation" %>
				<% end %>
			</div>

			<div class="content_right nine columns">
				<%= @content_for_layout %>
        <%= render :partial => "shared/contact_now_button" %>
			</div>

		<% else %>

			<div class="left three columns hide-for-small">
			  <% if yield :left %>
  			  <%= yield :left %>
			  <% else %>
					<%= render :partial => "shared/navigation" %>
				<% end %>
			</div>

			<div class="content_middle six columns">
				<%= @content_for_layout %>
				<% unless hide_contact? %>
          <%= render :partial => "shared/contact_now_button" %>
        <% end %>
			</div>

			<div class="right three columns">
				<%= yield :right %>
      </div>

		<% end %>


    <div class="clear"></div>
	</div>




	<div class="footer_links row">
    <div class="twelve columns">

		<div style="margin-top: 20px;" class="footer-logo-img">
			<a href="http://www.dotlegal.co.uk" target="_blank">
        <%= image_tag "logo_dot_legal.gif", :alt => "dot legal discount scheme", :title => "dot legal discount scheme", :border => "0", :hspace => "0", :vspace => "0" %>
      </a>
    </div>

    <div style="margin-top: 20px;" class="footer-logo-img">
      <%= link_to image_tag('peakfm.jpg'), 'http://www.peakfm.net/on-air/sean-and-becky/', :id => 'peak-fm-logo', :target => '_blank' %>
    </div>

    <div style="margin-top: 20px;" class="footer-logo-img">
      <%= link_to_page image_tag("fixed-fee.png", :alt => "Fixed Fee Promise", :title => "Fixed Fee Promise", :border => "0", :hspace => "0", :vspace => "0"), 'Fixed Fee Promise' %>
    </div>

    <div class="footer-logo-img">
      <%= image_tag('Trusted_trader_logo.jpg') %>
    </div>

    <div class="contact_info">
    	<p>e: <a href="mailto:info@bannerjones.co.uk">info@bannerjones.co.uk</a><br />t: <span class="calltracks_bannerjonescouk-main">0330 017 6309</span></p>
    </div>

    <hr />

    <div class="row">
    <div class="col_1 three columns">
    	<h3 style="margin-bottom: 8px; padding-bottom: 8px;"><%= link_to "Services for your business", url_for(PageNode.business_node.first.path) %></h3>

    	<% business_nodes = PageNode.business_nodes.active.position %>
      <ul>
        <% for page in business_nodes %>
          <li><%= link_to page.navigation_title, url_for(page.path) %></li>
        <% end %>
      </ul>
    </div>

    <div class="col_2 nine columns">
    	<h3 style="margin-bottom: 8px; padding-bottom: 8px;"><%= link_to "Services for you &amp; your family", url_for(PageNode.family_node.first.path) %></h3>

    	<% family_nodes = PageNode.family_nodes.active.position %>

    	<% begin %>

      <ul>
        <% for page in family_nodes[0..3] %>
          <li><%= link_to page.navigation_title, url_for(page.path) %></li>
        <% end %>
      </ul>

      <ul>
        <% for page in family_nodes[4..7] %>
          <li><%= link_to page.navigation_title, url_for(page.path) %></li>
        <% end %>
      </ul>

      <ul>
      	<% for page in family_nodes[8..10] %>
          <li><%= link_to page.navigation_title, url_for(page.path) %></li>
        <% end %>
      </ul>

      <ul>
      	<% for page in family_nodes[11..family_nodes.length] %>
          <li><%= link_to page.navigation_title, url_for(page.path) %></li>
        <% end %>
      </ul>

      <% rescue %>
      <% end %>

    </div>
    </div>


    <hr />

    <div class="row">
      <div id="social" class="six columns footer_awards">
        <h3>Our Social Media</h3>
        <%= link_to image_tag("footer_you_tube.png", :alt => "You Tube"), "https://www.youtube.com/channel/UCxXn4FxKr5OyKwcbhlekSwg", :target => "_blank", :title => "You Tube" %>
        <%= link_to image_tag("footer_twitter.png", :alt => "Twitter"), "https://twitter.com/bannerjones", :target => "_blank", :title => "Twitter" %>
				<%= link_to image_tag("footer_facebook.png", :alt => "Facebook"), "https://www.facebook.com/BannerJonesSolicitors", :target => "_blank", :title => "Facebook" %>
        <%= link_to image_tag("footer_linked.png", :alt => "LinkedIn"), "http://www.linkedin.com/company/1134191?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A2509922011394111907087%2CVSRPtargetId%3A1134191%2CVSRPcmpt%3Aprimary", :target => "_blank", :title => "LinkedIn" %>
        <%= link_to image_tag("footer_google.png", :alt => "Google Plus"), "https://plus.google.com/u/5/b/104304970380605400036/+bannerjones/posts", :target => "_blank", :title => "Google+" %>
      </div>

			<% if is_home? %>
			<div id="reviews" class="six columns text-right">
				<script type="text/javascript">
					jQuery( document ).ready(function() {
						var rating = jQuery('span[itemprop="rating"] span:first-of-type').text();
						jQuery('<img src="/images/rich-snippets/' +  rating + '.png" /><br />').insertAfter('span[itemprop="itemreviewed"]');
					});
				</script>

				<div itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
					<span itemprop="itemreviewed">Banner Jones Solicitors Reviews</span>
					<span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating">
						<span itemprop="average">4.5</span>
						out of <span itemprop="best">5</span>
					</span>
					based on <span itemprop="votes">24</span> ratings.
				</div>
			</div>
			<% end %>
    </div>

    <hr/>

    <div class="footer_awards">
    	<h3>Our Awards</h3>
      	<%#= link_to_page image_tag("logo_awards_top_tier.gif", :alt => "ICFM Highly Commended Top Tier", :title => "ICFM Highly Commended Top Tier", :border => "0", :hspace => "0", :vspace => "0"), 'Awards' %>
        <%= link_to_page image_tag ("logo_awards_top_tier.gif", :alt => "ICFM Highly Commended Top Tier", :title => "ICFM Highly Commended Top Tier", :border => "0", :hspace => "0", :vspace => "0"), 'Awards' %>
      	<%= link_to_page image_tag("logo_awards_acqcountry.gif", :alt => "ACQ Counrty Awards 2009", :title => "ACQ Counrty Awards 2009", :border => "0", :hspace => "0", :vspace => "0", :style=>"margin-top: 30px;"), 'Awards' %>
        <%= link_to_page image_tag("logo_awards_business_awards.gif", :alt => "Derbyshire Times Business Awards", :title => "Derbyshire Times Business Awards", :border => "0", :hspace => "0", :vspace => "0"), 'Awards' %>
        <%= link_to_page image_tag("logo_best_2011.gif", :alt => "Derbyshire's Best Finalist 2011", :title => "Derbyshire's Best Finalist 2011", :border => "0", :hspace => "0", :vspace => "0", :style=>"margin-top: 20px;"), 'Awards' %>
        <%= link_to_page image_tag("logo_global_2011.gif", :alt => "Global Awards 2011 Winner", :title => "Global Awards 2011 Winner", :border => "0", :hspace => "0", :vspace => "0", :style=>"margin-top: 20px;"), 'Awards' %>
    </div>
<div class="clear"></div>
	</div>
  </div>

  <div class="footer row">
    <div class="twelve columns">
      <p class="font_small">
        <%= link_to "Copyright &copy; 2010", :controller=>"web", :action=>"index" %>  :
        <%= link_to "Privacy policy", :controller=>"web", :action=>"privacy_policy" %>  :
        <%= link_to "Cookie Policy", :controller => "web", :action => "cookie_policy" %> :
        <%= link_to "Disclaimer", :controller=>"web", :action=>"disclaimer" %>  :
        <%= link_to "Accessibility", {:controller => "web", :action => "accessibility"}, {:accesskey => "1"} %> :
        <%= link_to "Site map", {:controller => "web", :action => "site_map"}, {:accesskey => "s"} %>
      </p>
      <p class="font_xsmall">
        All information on this website is property of Banner Jones Solicitors &copy; 2007. All rights reserved. Banner Jones and Bilton Hammond Solicitors are the trading name of Banner Jones Ltd.
        <br />Registered in England No. 6604123. Registered Office: 24 Glumangate, Chesterfield S40 1UA. Banner Jones Ltd is registered for VAT purposes with VAT registration number 345980525.
        <br />We are authorised and regulated by the Solicitors Regulation Authority (SRA number 493083) under the Solicitors' Code of Conduct and the Financial Conduct Authority. You can access the Code by contacting the SRA, In writing to: The Cube, 199 Wharfside Street, Birmingham, B1 1RN. Fax: 0121 616199. Tel: 0870 6062555 (UK) +44 0121 3296800 (International) or via <a href="http://www.sra.org.uk" target="_blank">www.sra.org.uk</a>.
        <br />The directors of Banner Jones Ltd are Solicitors of England and Wales.
      </p>
    </div>
  </div>

</div>   <!--end main-container -->
</div> <!--end container row -->

<script>
	function isIE () {
		var myNav = navigator.userAgent.toLowerCase();
		return (myNav.indexOf('msie') != -1) ? parseInt(myNav.split('msie')[1]) : false;
	}

	if (!isIE()) {
		// http://www.sitepoint.com/javascript-media-queries/
		// media query event handler
		if (matchMedia) {
			var mq = window.matchMedia("(min-width: 1024px)");
			mq.addListener(WidthChange);
			WidthChange(mq);
		}

		// media query change
		function WidthChange(mq) {
			if (!mq.matches) {
				var elements = document.querySelectorAll('[data-responsive]');

				for (var i = elements.length - 1; i >= 0; i--) {
					elements[i].style.backgroundImage = "url(" + elements[i].getAttribute("data-responsive") + ")";
				}
			}
		}
	}


</script>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try{
  var pageTracker = _gat._getTracker("UA-5723010-1");
  pageTracker._trackPageview();
  } catch(err) {}
</script>

<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1038213147;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1038213147/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<script>
// <a href="#" title="Toggle more details" onclick="navToggle('section-2');return false;">Show</a>
function navToggle(div) {
  //if ($(div).hasClassName('hide-nav')) {
  $('business-dropdown').addClassName('hide-nav');
  $('family-dropdown').addClassName('hide-nav');
  $('more-dropdown').addClassName('hide-nav');
    $(div).toggleClassName('hide-nav');
  //}

  //Effect.toggle(div, 'slide', { duration: 0 });
}
</script>

<script type="text/javascript">    (function () {        function script() {            var s = document.createElement('script'); s.type = 'text/javascript';            s.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'lead.watch/25.1222.js';            var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);        }        if (window.attachEvent) { window.attachEvent('onload', script); } else { window.addEventListener('load', script, false); }    })();</script>
<script>
(function(){e=document.createElement("script");e.type="text/javascript",e.async=1,e.src="//lite.calltracks.com/wnd/loader.js";document.getElementsByTagName("head")[0].appendChild(e);})();
</script>
</body>
</html>
